#mennu_top ul {
	/* width: 100%; */
  	list-style-type: none;
  	text-align: center;
  	font-weight: bold;

  	/* background-color: #f60; */
}
#mennu_top li {
	display: inline-block;	
  	width: 16%;
    text-transform: uppercase;
    font-size: 14px;

	border-bottom: none;
}
#mennu_top a {
  text-decoration: none;
  color: #C8205F;
  display: block;
  height: 40px;
  /* border-bottom: none; */
}
#mennu_top a:hover {
	color: #F7931D;
	border-bottom: 2px solid #C8205F;
}
/*==Dropdown Menu==*/
.sub-menu li {
  display: none;
  font-weight: normal;

}
#mennu_top li {
 position: relative;
 margin-left: 0px;
 margin-top: 0px;
}
.sub-menu {
 display: none;
 position: absolute;
}
#mennu_top .sub-menu li {
  width: 280px;
  padding-top:5px;
  padding-left: 5px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
  text-align: left;
}
#mennu_top .sub-menu a{
  color: #000;
}
#mennu_top .sub-menu a:hover{
  color: #F7931D;
}
#mennu_top li:hover .sub-menu {
 display: block;
}
#mennu_top li:hover .contai_menu {
 display: block;
}
#mennu_top li:hover .contai_menu_two {
 display: block;
}
.contai_menu{
	width: 1400px;
	margin-left: -100px;
	height: 200px;
	display: none;
	/* background-color: #f60; */
}
.contai_menu_two{
	width: 580px;
	margin-left: -200px;
	height: 200px;
	display: none;
}

.contai_menu_1{
	width: 280px;
	height: 100%;
	float: left;
}
.contai_menu_2{
	width: 280px;
	height: 100%;
	float: left;	
}
#tc{
  width: 90px;
  margin-left: 15px;
}
#inoff{
  width: 160px;
  margin-left:-20px;
}
#ikl{
  width: 115px;
  margin-left: 30px;
}
#inlazer{
  width: 160px;
  margin-left: 10px;
}
#gc{
  width: 135px;
  margin-left: 10px;
}
#vpp{
  width: 135px;
  margin-left: 20px;
}