.product {
	height: 4450px;
	width: 100%;
	/* background-color: #33ccff; */
	/* border-bottom: 2px solid #f60; */
}

.product_category {
	height: 330px;
	width: 100%;
	/* 	background-color: #00e600;
	border-bottom: solid #f60 2px;
	border-top: solid #33CCFF 2px; */
}

.title_product {
	width: 50%;
	margin: auto;
	height: 60px;
	padding-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #C8205F;
	border-bottom: solid #C8205F 1px;
}

.title_more_product {
	height: 40px;
	padding-top: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: left;
	font-weight: bold;
	color: #C8205F;
}

.tag_product {
	color: #C8205F;
	height: 90px;

}

.tag_product a {
	color: #0051E9;
}

.tag_product a:hover {
	color: #f60;
}

.image_product {
	width: 22.744444444%;
	margin-top: 10px;
	float: left;
	/* background-color: #f60; */
	margin-right: 3%;
	transition: .5s;
}

.image_product_end {
	width: 22.744444444%;
	margin-top: 10px;
	float: left;
	transition: .5s;
}

.product_name {
	text-transform: capitalize;
	text-align: center;
	font-weight: bold;
	color: #C8205F;
	margin-top: 10px;
}

.image_product:hover {
	transform: scale(1.05);
}

.image_product_end:hover {
	transform: scale(1.05);
}

////////////////////////////
//         efect          //
////////////////////////////
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	/* margin: 10px 1%; */
	min-width: 80%;
	max-width: 100%;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption>a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid h2 {
	word-spacing: -0.15em;
	font-size: 24px;
	font-weight: bold;
	color: #C8205F;
	text-transform: uppercase;
}

.grid a:hover {
	text-decoration: none;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}